[Unit]
Description=HFS Service

[Service]
ExecStart=/usr/local/bin/hfs --cwd %h/.local/share/hfs --config %h/.config/hfs/config.yaml
Type=simple
Restart=always

[Install]
WantedBy=default.target
