{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
#https://github.com/nvm-sh/nvm

echo "================================================================================"
echo "[Chezmoi] Installing nvm"

if [ -d "${HOME}/.nvm/.git" ]; then
	echo "nvm is already installed. Exiting."
	exit 0
fi

read -p "Do you want to proceed with the installation? (Y/n): " confirmation
confirmation=${confirmation:-Y}

if ! [[ "$confirmation" == "y" || "$confirmation" == "Y" ]]; then
	echo "Installation canceled."
	exit 0
fi

curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
{{ end -}}
