{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# https://deno.com/

echo "================================================================================"
echo "[Chezmoi] Installing deno"

if command -v deno &>/dev/null; then
	echo "deno is already installed. Exiting."
	exit 0
fi

read -p "Do you want to proceed with the installation? (Y/n): " confirmation
confirmation=${confirmation:-Y}

if ! [[ "$confirmation" == "y" || "$confirmation" == "Y" ]]; then
	echo "Installation canceled."
	exit 0
fi

curl -fsSL https://deno.land/install.sh | bash
{{ end -}}
