{{ if .linux -}}
#!/bin/bash
# https://github.com/jesseduffield/lazygit

echo "================================================================================"
echo "[Chezmoi] Installing lazygit"

if command -v lazygit &>/dev/null; then
	echo "lazygit is already installed. Exiting."
	exit 0
fi

read -p "Do you want to proceed with the installation? (Y/n): " confirmation
confirmation=${confirmation:-Y}

if ! [[ "$confirmation" == "y" || "$confirmation" == "Y" ]]; then
	echo "Installation canceled."
	exit 0
fi

go install github.com/jesseduffield/lazygit@latest
{{ end -}}
