{{ if .linux -}}
#!/bin/bash
# https://github.com/eth-p/bat-extras

echo "================================================================================"
echo "[Chezmoi] Installing bat-extras"

read -p "Do you want to proceed with the installation? (Y/n): " confirmation
confirmation=${confirmation:-Y}

if ! [[ "$confirmation" == "y" || "$confirmation" == "Y" ]]; then
	echo "Installation canceled."
	exit 0
fi

mkdir -p ~/projects/sh/

if [ -d ~/projects/sh/bat-extras/.git ];then
  echo "bat-extras already clone. skip"
else
  git clone --depth 1 https://github.com/eth-p/bat-extras ~/projects/sh/bat-extras
fi

cd ~/projects/sh/bat-extras

bash build.sh --install --prefix "$HOME/.local"
{{ end -}}
