{{ if .linux -}}
#!/bin/bash
#https://github.com/nvm-sh/nvm

echo "================================================================================"
echo "[Chezmoi] Installing node"

if command -v node &>/dev/null; then
	echo "node is already installed. Running anyway :v"
fi

read -p "Do you want to proceed with the installation? (Y/n): " confirmation
confirmation=${confirmation:-Y}

if ! [[ "$confirmation" == "y" || "$confirmation" == "Y" ]]; then
	echo "Installation canceled."
	exit 0
fi

. ~/.nvm/nvm.sh

nvm install node
{{ end -}}
