README.md
scripts/
.profile

{{ if eq .chezmoi.os "linux" }}

{{ if .wsl }}
.config/alacritty/
.config/neovide/
Pictures/
{{ else }}
# .config/mimeapps.list
{{ end }}

Documents/
Arts/
AppData/
AppData/Roaming/
.arduinoIDE/
.config/winfetch/
.config/whkd/
.config/komorebi/
.wslconfig

{{ else if eq .chezmoi.os "windows" }}

.arduinoIDE/
.cgdb/
.config/mimeapps.list
.config/gdb/
.config/pudb/
.config/alacritty/
.config/neovide/
.config/conda/
.config/latexindent/
.config/lf/
.config/zathura/
.config/xplr/
.config/tmux/
.config/neomutt/
.config/lazygit/
.config/neofetch/
.config/bat/
.config/glow/

{{ end }}
