README.md
scripts/

{{- if eq .chezmoi.os "linux" }}

./Documents/
./Arts/
./.config/winfetch/
./AppData/
./Pictures/
./.profile
./.arduinoIDE/
./.wslconfig
./AppData/Roaming/

{{- end }}

{{- if eq .chezmoi.os "windows" }}

./.config/latexindent/
./.config/lf/
./.config/zathura/
./.config/xplr/
./.config/tmux/
./.config/neomutt/
./.condarc
./.profile
./.config/lazygit/
./.config/neofetch/
./.config/bat/

{{- end }}
