{{/* boolean feature tags */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $desktop := false -}}
{{- $laptop := false -}}
{{- $linux := false -}}
{{- $windows := false -}}
{{- $wsl := false -}}
{{- $android := false -}}

{{- $hostname := .chezmoi.hostname                    -}}
{{- if ($hostname | lower | contains "vancanh-ng")    -}}
{{-   $work = true                                    -}}
{{-   $laptop = true                                 -}}
{{- else if ($hostname | lower | contains "bunnies")  -}}
{{-   $personal = true                                -}}
{{-   if ($hostname | lower | contains "desktop")     -}}
{{-     $desktop = true                               -}}
{{-   else if ($hostname | lower | contains "laptop") -}}
{{-     $laptop = true                                -}}
{{-   end                                             -}}
{{- end                                               -}}

{{- $email := "nv.canh@outlook.com" -}}
{{- if $work -}}
{{-   $email = "vancanh-ng@samsung.com" -}}
{{- end -}}

{{/* windows only, 1 of pwsh, powershell, cmd */}}
{{- $shell := "pwsh" -}}
{{- if $work -}}
{{-   $shell = "powershell" -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $linux = true -}}
{{- end -}}

{{- if eq .chezmoi.os "android" -}}
{{-   $android = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $windows = true -}}
{{- end -}}

{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-   $wsl = true -}}
{{- end -}}

format: "yaml"
progress: true

edit:
  apply: true
  watch: true

git:
  autoCommit: false
  autoPush: false

diff:
{{- if lookPath "delta" }}
  pager: "delta"
{{- else if lookPath "cat"}}
  pager: "cat"
{{- end }}
  reverse: false
  exclude: ["externals"]

merge:
  command: "nvim"
  args:
    - "-d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"

data:
  wsl: {{ $wsl }}
  linux: {{ $linux }}
  windows: {{ $windows }}
  android: {{ $android }}
  work: {{ $work }}
  personal: {{ $personal }}
  desktop: {{ $desktop }}
  laptop: {{ $laptop }}
  email: {{ $email | quote }}
  defaultShell: {{ $shell | quote }}
  scale: {{ if $work -}} 2 {{- else -}} 1.25 {{- end}}
  screenWidth: {{ if $work -}} 2880 {{- else -}} 1920 {{- end}}
  screenHeight: {{ if $work -}} 1800 {{- else -}} 1080 {{- end}}
  fontSize: 13
  barHeight: 40
  p4port: {{ if $work -}} "107.113.53.156:1716" {{- else -}} "" {{- end}}
  p4user: {{ if $work -}} "vancanh.ng" {{- else -}} "" {{- end}}

{{- if $windows }}

cd:
  command: {{ $shell | quote }}
  args: "-nol"
{{- end }}
