format : yaml

progress : true

edit:
  apply : false

git:
  autoCommit : true
  autoPush : false

{{ if ne .chezmoi.os "windows" -}}
diff:
  command: "delta"
  pager : "delta"
{{- end }}

merge:
  command: nvim
  args:
    - -d
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"

{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
data:
  wsl : true
{{- else }}
data:
  wsl : false
{{- end}}
  fullName : "Ngô Văn Cảnh"
  nickName : "Michael"
  email : "canh25xp@gmail.com"

{{- if eq .chezmoi.os "windows" }}
cd:
  command: "pwsh"
{{- end }}
