{{ if eq .chezmoi.os "linux" }}

# https://github.com/tmux-plugins/tpm
.config/tmux/plugins/tpm:
  type: git-repo
  url: https://github.com/tmux-plugins/tpm
  refreshPeriod: 168h

# https://github.com/catppuccin/bat
.config/bat/themes/Catppuccin Mocha.tmTheme:
  type: file
  url: https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme
  refreshPeriod: 168h

.config/bat/themes/Catppuccin Frappe.tmTheme:
  type: file
  url: https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme
  refreshPeriod: 168h

.config/bat/themes/Catppuccin Macchiato.tmTheme:
  type: file
  url: https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme
  refreshPeriod: 168h

.config/bat/themes/Catppuccin Latte.tmTheme:
  type: file
  url: https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme
  refreshPeriod: 168h

# https://github.com/catppuccin/delta
.config/git/catppuccin.gitconfig:
  type: file
  url: https://github.com/catppuccin/delta/raw/main/catppuccin.gitconfig
  refreshPeriod: 168h

.config/neomutt/catppuccin.neomutt:
  type: file
  url: https://github.com/catppuccin/neomutt/raw/main/neomuttrc
  refreshPeriod: 168h

.config/nvim-lazy:
  type: git-repo
  url: https://github.com/canh25xp/lazyVim-config
  refreshPeriod: 168h

.config/nvim-kickstart:
  type: git-repo
  url: https://github.com/canh25xp/kickstart.nvim
  refreshPeriod: 168h

{{ if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

.config/alacritty/catppuccin-mocha.toml:
  type: file
  url: https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml
  refreshPeriod: 168h

{{ end }}

{{ else if eq .chezmoi.os "windows" }}

Appdata/Local/nvim:
  type: git-repo
  url: https://github.com/canh25xp/kickstart.nvim
  refreshPeriod: 168h

Appdata/Roaming/alacritty/catppuccin-mocha.toml:
  type: file
  url: https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml
  refreshPeriod: 168h

{{ end }}
