README.md
scripts/
nvim/
nvim-lazy/
.profile
*.age

.ssh/id_*
{{ if .work }}
!.ssh/id_ecdsa_work
!.ssh/id_ecdsa_work.pub
{{ else if .personal }}
!.ssh/id_ecdsa
!.ssh/id_ecdsa.pub
{{ else }}
.config/hfs/config.yaml
{{ end }}


{{ if not .android }}
.termux/
{{ end }}

{{ if .work }}
Pictures/Wallpapers
.chezmoiscripts/00-winget-install.ps1
.chezmoiscripts/update-tldr-cache.ps1
.chezmoiscripts/modules_install.ps1
{{ end }}


{{ if .android}}
Pictures/
{{ end }}

{{ if .wsl }}
.config/alacritty/
.config/neovide/
Pictures/
{{ end }}


{{ if .linux}}
.chezmoiscripts/*.ps1
.chezmoiscripts/*termux*.sh
.chezmoiscripts/*pkg-install.sh
{{ end }}

{{ if .android}}
.chezmoiscripts/*
!.chezmoiscripts/*termux*.sh
{{ end }}

{{ if or .linux .android}}
Documents/
Arts/
AppData/
AppData/Roaming/
.arduinoIDE/
.config/winfetch/
.config/whkd/
.config/komorebi/
.wslconfig
p4aliases.txt
{{ end }}

{{ if .windows }}
.arduinoIDE/
.cgdb/
.config/mimeapps.list
.config/gdb/
.config/pudb/
.config/alacritty/
.config/neovide/
.config/helix/
.config/latexindent/
.config/lf/
.config/zathura/
.config/xplr/
.config/tmux/
.config/neomutt/
.config/lazygit/
.config/neofetch/
.config/bat/
.config/glow/
.config/nvim/
.config/nvim-lazy/
./AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe

.chezmoiscripts/*.sh
{{ end }}
