{{- if not .work }}

.config/yazi/theme.toml:
  type: file
  url: https://github.com/catppuccin/yazi/raw/main/themes/mocha/catppuccin-mocha-blue.toml
  refreshPeriod: 0h

{{- if .android }}
.termux/colors.properties:
  type: file
  url: https://github.com/catppuccin/termux/raw/main/themes/catppuccin-mocha.properties
  refreshPeriod: 0h

.termux/font.ttf:
  type: archive-file
  url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/CascadiaCode.zip
  path: CaskaydiaCoveNerdFontMono-Regular.ttf
{{- end }}

{{- if .windows }}
Appdata/Roaming/bat/themes/Catppuccin Mocha.tmTheme:
{{- else }}
.config/bat/themes/Catppuccin Mocha.tmTheme:
{{- end }}
  type: file
  url: https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme
  refreshPeriod: 0h

{{- if not .windows }}
.config/neomutt/catppuccin.neomutt:
  type: file
  url: https://github.com/catppuccin/neomutt/raw/main/neomuttrc
  refreshPeriod: 0h
{{- end }}

{{- if .windows }}
Appdata/Roaming/alacritty/catppuccin-mocha.toml:
{{- else }}
.config/alacritty/catppuccin-mocha.toml:
{{- end }}
  type: file
  url: https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml
  refreshPeriod: 0h

{{- if not .windows }}
.config/tmux/plugins/tpm:
  type: git-repo
  url: https://github.com/tmux-plugins/tpm
  refreshPeriod: 0h
{{- end }}

{{- end }}

{{- if .windows }}
Appdata/Local/nvim:
{{- else }}
.config/nvim:
{{- end }}
  type: git-repo
  url: https://github.com/canh25xp/kickstart.nvim
  refreshPeriod: 0h

{{- if .windows }}
Documents/PowerShell/Modules/cmatrix:
  type: git-repo
  url: https://github.com/matriex/cmatrix
  refreshPeriod: 0h
{{- end }}
