[user]
	name = Ngô Văn Cảnh
	email = canh25xp@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
[init]
  defaultBranch = main
{{ if eq .chezmoi.os "linux" -}}
[credential "https://github.com"]
	username = canh25xp
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
{{ else if eq .chezmoi.os "windows" -}}
[credential "https://github.com"]
	username = canh25xp
{{ end -}}
