{{ if or .linux .android -}}

export EDITOR=nvim
export PAGER=less
export NVIM_APPNAME=nvim
export STARSHIP_CONFIG=~/.config/starship/starship.toml

# https://github.com/catppuccin/fzf
export FZF_DEFAULT_OPTS='
--color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8
--color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc
--color=marker:#b4befe,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8
--color=selected-bg:#45475a
--height=50%
--multi
--layout=reverse
--info=inline
'

{{ if .wsl -}}
export FIGNORE=".dll:.DLL"
{{ end -}}

# export PATH="$PATH:$VCPKG_ROOT"
export PATH="$PATH:$HOME/go/bin"
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="$PATH:$HOME/.deno/bin"

export PATH="$PATH:/usr/local/texlive/2024/bin/x86_64-linux"

{{ if .wsl -}}
export PATH="$PATH:$USERPROFILE/AppData/Local/Programs/Microsoft VS Code/bin"
export PATH="$PATH:$LOCALAPPDATA/Microsoft/WinGet/Packages/ahrm.sioyek_Microsoft.Winget.Source_8wekyb3d8bbwe/sioyek-release-windows"
export PATH="$PATH:$LOCALAPPDATA/Programs/pympress-1.8.5-x86_64.msi"
export PATH="$PATH:$LOCALAPPDATA/SumatraPDF"
export PATH="$PATH:/mnt/c/Program Files/PowerShell/7-preview"
export PATH="$PATH:/mnt/c/Program Files/PowerShell/7"
export PATH="$PATH:/mnt/c/Program Files/NirCmd"
export PATH="$PATH:/mnt/c/Program Files/Neovide"
export PATH="$PATH:/mnt/c/Windows"
export PATH="$PATH:/mnt/c/Windows/System32"
{{ end -}}

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ]; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
        . "$HOME/.bashrc"
    fi
fi

{{ else if .windows -}}

# generated by Git for Windows
test -f ~/.profile && . ~/.profile
test -f ~/.bashrc && . ~/.bashrc

{{ end -}}
