{{ if or .linux .android -}}

export EDITOR=nvim
export PAGER=less
export NVIM_APPNAME=nvim
export STARSHIP_CONFIG=~/.config/starship/starship.toml
export P4CONFIG=".p4config"
export P4ENVIRO="$HOME/.config/p4/p4enviro"
export P4ALIASES="$HOME/.config/p4/p4aliases"

export FZF_DEFAULT_OPTS='--height=50% --multi --layout=reverse --info=inline'

{{ if .wsl -}}
export FIGNORE=".dll:.DLL"
{{ end -}}

export ANDROID_HOME="$HOME/android"
export PATH="$PATH:$ANDROID_HOME/cmdline-tools/latest/bin"
export PATH="$PATH:$ANDROID_HOME/build-tools/35.0.0"
export PATH="$PATH:$ANDROID_HOME/platform-tools"

# export PATH="$PATH:$VCPKG_ROOT"
export PATH="$PATH:$HOME/go/bin"
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="$PATH:$HOME/.deno/bin"

export PATH="$PATH:/usr/local/texlive/2024/bin/x86_64-linux"

{{ if .wsl -}}
export PATH="$PATH:$USERPROFILE/AppData/Local/Programs/Microsoft VS Code/bin"
export PATH="$PATH:$LOCALAPPDATA/Microsoft/WinGet/Packages/ahrm.sioyek_Microsoft.Winget.Source_8wekyb3d8bbwe/sioyek-release-windows"
export PATH="$PATH:$LOCALAPPDATA/Programs/pympress-1.8.5-x86_64.msi"
export PATH="$PATH:$LOCALAPPDATA/SumatraPDF"
export PATH="$PATH:/mnt/c/Program Files/PowerShell/7-preview"
export PATH="$PATH:/mnt/c/Program Files/PowerShell/7"
export PATH="$PATH:/mnt/c/Program Files/NirCmd"
export PATH="$PATH:/mnt/c/Program Files/Neovide"
export PATH="$PATH:/mnt/c/Windows"
export PATH="$PATH:/mnt/c/Windows/System32"
{{ end -}}

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ]; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
        . "$HOME/.bashrc"
    fi
fi

{{ else if .windows -}}

# generated by Git for Windows
test -f ~/.profile && . ~/.profile
test -f ~/.bashrc && . ~/.bashrc

{{ end -}}
