export EDITOR=nvim
export PAGER=less
export MANPAGER='nvim +Man!'
export NVIM_APPNAME=nvim-lazy
export STARSHIP_CONFIG=~/.config/starship/starship.toml

export P4ENVIRO="$HOME/.config/p4/p4enviro"
export P4ALIASES="$HOME/.config/p4/p4aliases"
export P4TICKETS="$HOME/.p4tickets"

export FZF_DEFAULT_OPTS='--height=50% --multi --layout=reverse --info=inline'

{{ if .wsl -}}
export FIGNORE=".dll:.DLL"
{{ end -}}

export ANDROID_HOME="$HOME/android"
export PATH="$PATH:$ANDROID_HOME/cmdline-tools/latest/bin"
export PATH="$PATH:$ANDROID_HOME/build-tools/35.0.0"
export PATH="$PATH:$ANDROID_HOME/platform-tools"

# export PATH="$PATH:$VCPKG_ROOT"
export PATH="$PATH:$HOME/go/bin"
export PATH="$PATH:$HOME/.cargo/bin"

export PATH="$PATH:/usr/local/texlive/2024/bin/x86_64-linux"

{{ if .wsl -}}
export DONT_PROMPT_WSL_INSTALL=true
export P4TICKETS="$USERPROFILE/.p4tickets"
export PATH="$LOCALAPPDATA/Programs/Microsoft VS Code/bin:$PATH"
export PATH="$PATH:/mnt/c/Program Files/Neovide"
export PATH="$PATH:/mnt/c/Program Files/PowerShell/7"
{{ end -}}

{{ if .linux -}}
# auto start ssh-agent
# Source - https://stackoverflow.com/a
# Posted by Litmus, modified by community. See post 'Timeline' for change history
# Retrieved 2025-11-25, License - CC BY-SA 4.0

SSH_ENV="$HOME/.ssh/agent-environment"

function start_agent {
    echo "Initialising new SSH agent..."
    ssh-agent | sed 's/^echo/#echo/' >"$SSH_ENV"
    echo succeeded
    chmod 600 "$SSH_ENV"
    . "$SSH_ENV" >/dev/null
    ssh-add;
}

# Source SSH settings, if applicable
if [ -f "$SSH_ENV" ]; then
    . "$SSH_ENV" >/dev/null
    #ps $SSH_AGENT_PID doesn't work under Cygwin
    ps -ef | grep $SSH_AGENT_PID | grep ssh-agent$ >/dev/null || {
        start_agent
    }
else
    start_agent
fi
{{ end -}}

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ]; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# Cline CLI
if [ -d "$HOME/.cline/cli/bin" ]; then
    PATH="$PATH:$HOME/.cline/cli/bin"
fi

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
        . "$HOME/.bashrc"
    fi
fi

