# pwsh-like aliases
alias cls=clear
alias where=which
{{- if .wsl }}

alias explorer=explorer.exe
alias exp=explorer

alias notepad=notepad.exe
alias np=notepad

alias pwsh=pwsh.exe
alias neovide='neovide.exe'

alias sumatra='sumatrapdf.exe'
alias gvim='neovide --wsl'

alias nircmd=nircmd.exe
alias sci='nircmd clipboard saveimage'
{{- else }}
alias gvim='neovide'
{{- end }}

# Neovim profiles
alias lvim="NVIM_APPNAME=nvim-lazy nvim"
alias chad="NVIM_APPNAME=nvchad nvim"
alias kvim="NVIM_APPNAME=nvim-kickstart nvim"

alias lgit=lazygit
alias what='type -a'
alias wtf='type -a'
alias nmutt=neomutt
alias mail=neomutt
alias la='ls -A'
alias ll='ls -AlF'

alias path='echo -e ${PATH//:/\\n}' # Print path in newline each

alias cz=chezmoi
alias cfg='chezmoi managed -p absolute -i files | fzf --preview="bat --color=always {}" | xargs -r ${EDITOR:-nvim}'

alias fuck='sudo $(fc -ln -1)'
alias please=fuck
alias plz=please
alias fucking=sudo

# Open Nvim and enter Neotree
ntree() {
  nvim -c "Neotree position=current"
}

# cd on exit
cdi() {
  # `command` is needed in case `lfcd` is aliased to `lf`
  cd "$(command lf -print-last-dir "$@")"
}

# cdi() {
#   local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
#   yazi "$@" --cwd-file="$tmp"
#   if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
#     builtin cd -- "$cwd"
#   fi
#   rm -f -- "$tmp"
# }

# bat help
alias bathelp='bat --plain --language=help'
help() {
  "$@" --help 2>&1 | bathelp
}

# Add an "alert" alias for long running commands (Useless in WSL)
# Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# enable color support of ls and also add handy aliases
if [ -x "$(command -v dircolors)" ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  if [ -x "$(command -v eza)" ]; then
    alias ls='eza --icons -1 --hyperlink --time-style relative'
  else
    alias ls='ls --color=auto -1'
  fi
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'

  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi
