{{- if .personal -}}
{{-   if eq .chezmoi.username "Admin" -}}
{{-     pass "personal/ssh/id_ed25519_sudo.pub" -}}
{{-   end -}}
{{    pass "personal/ssh/id_ed25519_home_pc.pub" }}
{{    pass "work/ssh/id_ed25519_work_pc.pub" }}
{{- else if .work -}}
{{-   pass "work/ssh/id_ed25519_work_pc.pub" -}}
{{- end -}}
