{{ if .work -}}
IdentityFile ~/.ssh/id_ed25519_work_pc
{{- else if .personal -}}
IdentityFile ~/.ssh/id_ed25519_home_pc
{{- end }}

HashKnownHosts no

Host *
  AddKeysToAgent yes
  KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256

# ========== Interactive HOST ==================================================

Host desktop
  HostName {{ .desktopTailscaleIP }}
  User {{ .nickName }}

Host desktop-admin
  HostName {{ .desktopTailscaleIP }}
  User Admin
  IdentityFile ~/.ssh/id_ed25519_sudo

Host laptop
  HostName {{ .laptopTailscaleIP }}
  User {{ .nickName }}

Host phone
  HostName {{ .phoneTailscaleIP }}
  User {{ .phoneUserName }}
  Port 8022

Host tablet
  HostName {{ if .work -}} localhost {{- else -}} {{ .tabletTailscaleIP }} {{- end }}
  User {{ .tabletUserName }}
  Port 8022

Host work-laptop
  HostName {{ .workIPv4Lan }}
  User {{ .knoxID }}

Host wifiteam
  HostName 192.168.23.13
  User {{ .knoxID }}

Host desktop-jump
  HostName {{ .desktopTailscaleIP }}
  User {{ .nickName }}
  ProxyJump tablet

Host phone-jump
  HostName {{ .phoneTailscaleIP }}
  User {{ .phoneUserName }}
  Port 8022
  ProxyJump tablet

Host wifiteam-jump
  HostName 192.168.1.125
  User vancanh-ng
  ProxyJump netgear

# ========== SOCKS Proxy =======================================================

Host tablet-proxy
  HostName localhost
  User {{ .tabletUserName }}
  DynamicForward 1080
  Port 8022
  ExitOnForwardFailure yes

# ========== APs ===============================================================

Host netgear
  HostName 107.98.150.183
  User root

# ========== Git Server ========================================================

Host github
  HostName github.com
  User git
  PreferredAuthentications publickey

Host github-sec
  HostName github.sec.samsung.net
  User git
  PreferredAuthentications publickey
