{{- if .work -}}
{{-   if lookPath "gopass" -}}
{{-     gopass "work/ssh/id_ed25519_work_pc.pub" -}}
{{-   else if lookPath "pass" -}}
{{-     pass "work/ssh/id_ed25519_work_pc.pub" -}}
{{-   end -}}
{{- end -}}
