{{- if .personal -}}
{{-   if lookPath "gopass" -}}
{{-     gopassRaw "personal/ssh/id_ed25519_home_pc" -}}
{{-   else if lookPath "pass" -}}
{{-     passRaw "personal/ssh/id_ed25519_home_pc" -}}
{{-   end -}}
{{- end -}}
