{{/* chezmoi:template:line-endings=lf */}}
version: {{ if .work -}} 0.56.0 {{- else if .personal -}} 0.57.12 {{- end }}{{/* Why TF do we need version in a config file ? */}}
vfs:
  children: []
  source: {{ if .work -}} C:\Archive {{- else if .personal -}} E:\Archive {{- end }}
  can_upload:
    - vancanh.ng
auto_check_update: false
accounts:
  vancanh.ng:
    admin: true
    srp: {{ joinPath .chezmoi.sourceDir "dot_config/hfs/.ignored-encrypted-srp.age" | include | decrypt | trim }}
favicon: {{ .chezmoi.homeDir }}/Pictures/Assets/icon.png
title: vancanh's File Server
force_lang: en
port: {{ if .work -}} 6969 {{- else if .personal -}} 8080 {{- end }}
open_browser_at_start: false
