{{/* chezmoi:template:line-endings=lf */}}
version: 0.56.0
vfs:
  children: []
  source: C:\Archive
  can_upload:
    - vancanh.ng
auto_check_update: false
accounts:
  vancanh.ng:
    admin: true
    srp: {{ joinPath .chezmoi.sourceDir "dot_config/hfs/.ignored-encrypted-srp.age" | include | decrypt | trim }}
favicon: {{ .chezmoi.homeDir }}/Pictures/Assets/icon.png
title: vancanh's File Server
force_lang: en
port: 6969
open_browser_at_start: false
