{{- /* chezmoi:template:line-endings=native */ -}}
{{- /* chezmoi:modify-template */ -}}
{{- $data := fromYaml .chezmoi.stdin -}}

{{- /* Set common values */ -}}
{{- $data = ($data | setValueAtPath "accounts.vancanh-ng.admin" true) -}}
{{- $data = ($data | setValueAtPath "accounts.vancanh-ng.srp" (joinPath .chezmoi.sourceDir "dot_config/hfs/.ignored-encrypted-srp.age" | include | decrypt | trim)) -}}
{{- $data = ($data | setValueAtPath "auto_check_update" false) -}}
{{- $data = ($data | setValueAtPath "open_browser_at_start" false) -}}
{{- $data = ($data | setValueAtPath "title" "vancanh's File Server") -}}
{{- $data = ($data | setValueAtPath "favicon" (joinPath .chezmoi.homeDir "Pictures/Assets/icon.png" )) -}}
{{- $data = ($data | setValueAtPath "port" 6969) -}}
{{- $data = ($data | setValueAtPath "vfs.can_upload" (list "vancanh-ng")) -}}

{{- /* Set work/personal specific values */ -}}
{{- if .linux -}}
{{- $children := list
      (dict "source" (joinPath .chezmoi.homeDir "Archive"))
      (dict "source" (joinPath .chezmoi.homeDir "Downloads"))
-}}
{{- $data = ($data | setValueAtPath "vfs.children" $children) -}}
{{- else -}}
{{- $children := list
      (dict "source" "C:\\Archive")
      (dict "source" "C:\\Downloads")
-}}
{{- $data = ($data | setValueAtPath "vfs.children" $children) -}}
{{- end -}}

{{ toYaml $data }}
