{
  "$schema": "https://raw.githubusercontent.com/LGUG2Z/komorebi/refs/heads/master/schema.json",
  "animation": {
    "enabled": false
  },
  "bar_configurations": [
    "$Env:KOMOREBI_CONFIG_HOME/komorebi.bar.json"
  ],
  "app_specific_configuration_path": "$Env:KOMOREBI_CONFIG_HOME/applications.json",
  "window_hiding_behaviour": "Cloak",
  "mouse_follows_focus": false,
  "border_style": "System",
  "cross_monitor_move_behaviour": "Insert",
  "default_workspace_padding": 0,
  "default_container_padding": -1,
  "border_width": 4,
  "border_offset": -1,
  "border": true,
  "theme": {
    "palette": "Catppuccin",
    "name": "Mocha"
  },
  "stackbar": {
    "height": 40,
    "mode": "Never",
    "tabs": {
      "width": 300
    }
  },
  "display_index_preferences": {
    "0": {{ if .work -}} "H4ZN300139" {{- else -}} "XKD234302143" {{- end }},
    "1": {{ if .work -}} "HNAX400145" {{- else -}} "103INVM0M583" {{- end }}
  },
  "monitors": [
    {
      "workspaces": [
        {
          "name": "A1",
          "layout": "BSP"
        },
        {
          "name": "A2",
          "layout": "BSP"
        },
        {
          "name": "A3",
          "layout": "BSP"
        },
        {
          "name": "A4",
          "layout": "BSP"
        },
        {
          "name": "A5",
          "layout": "BSP"
        }
      ]
    },
    {
      "workspaces": [
        {
          "name": "B1",
          "layout": "Rows"
        },
        {
          "name": "B2",
          "layout": "Rows"
        },
        {
          "name": "B3",
          "layout": "Rows"
        },
        {
          "name": "B4",
          "layout": "Rows"
        },
        {
          "name": "B5",
          "layout": "Rows"
        }
      ]
    }
  ],
  "float_override": false,
  "ignore_rules": [
    {
      "kind": "Exe",
      "id": "PhoneExperienceHost.exe",
      "matching_strategy": "Equals"
    }
  ],
  "manage_rules": [
    {
      "kind": "Exe",
      "id": "PRA_Tool.exe",
      "matching_strategy": "Equals"
    },
    {
      "kind": "Class",
      "id": "TaskManagerWindow",
      "matching_strategy": "Legacy"
    }
  ]
}
