# ==============================================
# SHELL ALIASES
# ==============================================

{{- template "pwsh/Aliases.ps1" . -}}

function Start-AdminSession {
  Start-Process -FilePath "wt" -Verb runAs -ArgumentList "pwsh.exe -NoExit -Command &{Set-Location $PWD}"
}

