# ==============================================
# PSREADLINE SETTINGS
# ==============================================

{{ template "pwsh/PSReadLineProfile.ps1" . }}

# ==============================================
# ALIASES
# ==============================================

{{ template "pwsh/Aliases.ps1.tmpl" . }}
