# stolen from https://github.com/giggio/posh-alias/blob/master/Posh-Alias.psm1
function Add-Alias($name, $alias) {
    $func = @"
function global:$name {
  `$expr = ('$alias ' + (( `$args | % { if (`$_.GetType().FullName -eq "System.String") { "``"`$(`$_.Replace('``"','````"').Replace("'","``'"))``"" } else { `$_ } } ) -join ' '))
  write-debug "Expression: `$expr"
  Invoke-Expression `$expr
}
"@
    # Remove existing alias/function if present
    if (Get-Alias -Name $Name -ErrorAction SilentlyContinue) {
        Remove-Item "Alias:$Name" -Force
    }

    if (Get-Command -Name $Name -CommandType Function -ErrorAction SilentlyContinue) {
        Remove-Item "Function:$Name" -Force
    }
    write-debug "Defined function:`n$func"
    $func | Invoke-Expression
}

if (Get-Alias -Name curl -ErrorAction SilentlyContinue) {
    Remove-Item "Alias:curl" -Force
}

# Unix-like aliases
{{ if lookPath "eza" -}}
Add-Alias la "eza -a -1 --icons --hyperlink --time-style relative"
Add-Alias ll "eza -a -l --icons --hyperlink --time-style relative"
Add-Alias ls "eza --icons -1 --hyperlink --time-style relative"
{{ end -}}

{{ if lookPath "bat" -}}
Add-Alias cat "bat -P"
{{ end -}}

{{ if lookPath "gsudo" -}}
Set-Alias sudo gsudo
{{ end -}}

{{ if lookPath "podman" -}}
Set-Alias docker podman
{{ end -}}

{{ if lookPath "gopass" -}}
Set-Alias pass gopass
{{ end -}}

# Funtion aliases
Set-Alias -Name df -Value Get-Volume
Set-Alias -Name du -Value Get-DirectorySummary
Set-Alias -Name ff -Value Find-File
Set-Alias -Name grep -Value Find-String
Set-Alias -Name su -Value Start-AdminSession
Set-Alias -Name which -Value Show-Command
Set-Alias -Name whichwsl -Value Get-WslPath
Set-Alias -Name bhis -Value Search-BrowerHistory
Set-Alias -Name bmark -Value Search-BrowerBookmarks
Set-Alias -Name cdi -Value Set-LocationInteractive
Set-Alias -Name cfg -Value Edit-Config
Set-Alias -Name cze -Value Edit-Chezmoi
Set-Alias -Name doc -Value Show-Documents
Set-Alias -Name env -Value Edit-EnvironmentVariables
Set-Alias -Name his -Value Open-History
Set-Alias -Name huh -Value Search-Command
Set-Alias -Name meme -Value Show-Meme
Set-Alias -Name omni -Value Open-Anything
Set-Alias -Name path -Value Get-Path
Set-Alias -Name pro -Value Open-Profile
Set-Alias -Name sci -Value Save-ClipboardImage
Set-Alias -Name syspath -Value Get-SystemPath
Set-Alias -Name trash -Value Open-RecycleBin
Set-Alias -Name unins -Value Open-Uninstall
Set-Alias -Name userpath -Value Get-UserPath
Set-Alias -Name wifi -Value Get-Wifi
Set-Alias -Name wm -Value Start-Komorebi
Set-Alias -Name word -Value Open-WinWord
Set-Alias -Name wtf -Value Get-Command
Set-Alias -Name yeet -Value Move-ToRecycleBin
Set-Alias -Name nuke -Value Clear-RecycleBin
Set-Alias -Name hfscp -Value Copy-HFSLink
Set-Alias -Name p4edit -Value Edit-P4File
Set-Alias -Name lockin -Value Switch-TerminalBackground
Set-Alias -Name wall -Value Select-TerminalBackground
Set-Alias -Name howto -Value Get-HelpAI

# Abbreviated aliases
Set-Alias -Name cz -Value chezmoi
Set-Alias -Name exp -Value explorer
Set-Alias -Name gvim -Value neovide
Set-Alias -Name g -Value git
Set-Alias -Name lg -Value lazygit
Set-Alias -Name lgit -Value lazygit
Set-Alias -Name y -Value yazi
