# ==============================================
# PSREADLINE SETTINGS
# ==============================================

{{ template "pwsh/PSReadLineProfile.ps1" . }}

# ==============================================
# ALIASES
# ==============================================

{{ template "pwsh/Aliases.ps1.tmpl" . }}

# ==============================================
# FUNCTIONS
# ==============================================

{{ template "pwsh/functions.ps1" . }}

# ==============================================
# EXTERNAL INIT
# ==============================================

{{ template "pwsh/externals.ps1.tmpl" . }}
