# Init startship
if (Get-Command -Name "starship.exe" -ErrorAction SilentlyContinue) {
    starship init powershell | Invoke-Expression
}

# Init zoxide
if (Get-Command -Name "zoxide.exe" -ErrorAction SilentlyContinue) {
    zoxide init --cmd j powershell | Out-String | Invoke-Expression
}

#region conda initialize
# !! Contents within this block are managed by 'conda init' !!
If (Test-Path "$HOME\miniconda3\Scripts\conda.exe") {
    (& "$HOME\miniconda3\Scripts\conda.exe" "shell.powershell" "hook") | Out-String | Where-Object { $_ } | Invoke-Expression
}
#endregion
