"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
command_timeout = 3000
scan_timeout = 15

[cmd_duration]
min_time = 1000
show_milliseconds = true

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"

[username]
show_always = true
style_user = "purple italic"
aliases = { "Administrator" = "root" }

[directory]
truncate_to_repo = true
truncation_length = 0

[package]
disabled = true

[container]
disabled = true

[git_metrics]
disabled = {{ if .work -}} true {{- else -}} false {{- end}}

[git_status]
disabled = {{ if .work -}} true {{- else -}} false {{- end}}

[git_branch]
disabled = false

{{ if not .android -}}
[battery]
disabled = true
{{ end -}}
